{% extends 'base.html' %}

{% block content %}
  <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">LGA</th>
          </tr>
        </thead>
        <tbody>
            {% for lga in lgas %}
          <tr>
              <td><a href="/lga_result/{{lga.lga_name}}/{{lga.uniqueid }}/" class="list-group-item list-group-item-action">{{lga.lga_id}}</a></td>
            <td><a href="/lga_result/{{lga.lga_name}}/{{lga.uniqueid }}/" class="list-group-item list-group-item-action">{{lga.lga_name }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}
